.landingContainer {
    display: flex;
    /* overflow: hidden; */
}

.aboutApp {
    width: 70vw;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#aboutContainer {
    width: 60%;
}
#aboutContainer h1{ 
    margin-left: 15vw;
    margin-bottom: 30px;
    width: fit-content;
}
.switch {
    margin-top: 10px;
}
.authForm {
    width: 30vw;
    height: 100vh;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
}